<div class="banner">
    <img class="banner__img" src="./img/banner.webp" alt="hero banner">

    <div class="banner__info">
        <h1 class="h1">AskGskGo — ваш путеводитель в мир исцеления, оздоровления и долголетия</h1>
        <h3 class="h3">Создайте лучшую версию себя</h3>
        <button class="btn btn--main">Получить бесплатную консультацию</button>
    </div>

    <div class="banner__icons">
        <button>
            <img class="icon" src="./img/svg/call.svg" alt="call icon">
        </button>
        <button>
            <img class="icon" src="./img/svg/callback.svg" alt="callback icon">
        </button>
        <button>
            <img class="icon" src="./img/svg/chat.svg" alt="chat icon">
        </button>
        
    </div>
</div>