<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>ArticMedia Test</title>
        <link href="https://db.onlinewebfonts.com/c/04228ce6698135e3e7891eedbb85cf24?family=Futura+New+Bold+Reg" rel="stylesheet">                
        <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.2.0/css/glide.core.min.css">
        <link rel="stylesheet" href="css/app.css" />
    </head>
    <body id="body">

        {% include "header.html" %}
        
        {% include "banner.html" %}

        {% block content %}{% endblock %}

        {% include "footer.html" %}

        {% include "modal.html" %}

        <script src="https://unpkg.com/@glidejs/glide@3.6.0/dist/glide.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>
