<footer class="footer">
    <div class="page-width">

        <div class="footer__container">
        
            <a href="#" class="logo">
                <img src="./img/svg/logo_white.svg" alt="logo white">
            </a>

            <nav class="nav nav--footer">
                <ul class="nav__list">
                    <li><a href="#">Адреса центров</a></li>
                    <li><a href="#">Блог</a></li>
                    <li><a href="#">О нас</a></li>
                    <li><a href="#">Контакты</a></li>
                </ul>
                <ul class="nav__list">
                    <li><a href="#">Наши эксперты</a></li>
                    <li><a href="#">Достопримечательности</a></li>
                    <li><a href="#">Страховка</a></li>
                    <li><a href="#">Партнеры</a></li>
                </ul>
            </nav>

            <div class="feedback">

                <div class="contact">

                    <div class="contact__address">
                        <span class="location">Çağlayan, 2052. Sk. No:43, <br>
                            07200 Muratpaşa/Antalya, Турция
                        </span>
                        <a class="email" href="mailto:halloretreat@gmail.com">halloretreat@gmail.com</a>
                        <a class="to-map" href="#">Показать на карте</a>
                    </div>

                    <div class="contact__address">
                        <span class="location">Çağlayan, 2052. Sk. No:43, <br>
                            07200 Muratpaşa/Antalya, Турция
                        </span>
                        <a class="email" href="mailto:halloretreat@gmail.com">halloretreat@gmail.com</a>
                        <a class="to-map" href="#">Показать на карте</a>
                    </div>

                </div>

                <div class="social">
                    <button>
                        <img class="icon" src="./img/svg/fb.svg" alt="facebook icon">
                    </button>
                    <button>
                        <img class="icon" src="./img/svg/callback.svg" alt="callback icon">
                    </button>
                    <button>
                        <img class="icon" src="./img/svg/insta.svg" alt="instagram icon">
                    </button>
                    <button>
                        <img class="icon" src="./img/svg/youtube.svg" alt="youtube icon">
                    </button>
                    
                </div>

            </div>
        </div>
    </div>

    <div class="footer__bottomline">

        <div class="feedback feedback--bottomline">

            <div>
                <span class="copyright">© 2023 ASKGSKGO Int.</span>
                <a href="#">Политика конфиденциальности</a>
            </div>

            <span>Сайт разработан <a href="#">ArticMedia</a></span>

        </div>

    </div>
</footer>