<div class="wrapper">
    
    <h3 class="h3 h3--form">Получите бесплатную консультацию</h3>

    <form class="form">

        <input type="text" class="form__textfield" id="name" placeholder="Имя" />
        <input type="text" class="form__textfield" id="email" placeholder="E-mail" />
        
        <button class="btn btn--main">Получить бесплатную консультацию</button>
        
       
        <div class="form__checkbox">
            <input type="checkbox" class="checkbox" id="personal" checked>
            <span class="checkmark"></span>
            <label for="personal" class="label">
                Нажимая на кнопку, я соглашаюсь на обработку персональных данных, с <a href="#">Политикой Конфиденциальности</a> ознакомлен
            </label>
        </div>
    </form>
</div>