<header class="header">
    <div class="burger">
        <button class="btn btn--burger">
            <img src="./img/svg/burger.svg" alt="burger menu button">
        </button>
    </div>

    <div class="logo">
        <img src="./img/svg/logo.svg" alt="logo" />
    </div>

    <div class="header__contact">
        <span>8 800 345 45 67</span>
        <button class="btn btn--call">Заказать звонок</button>
        <div class="lang">
            <span>Ru | En</span>
        </div>
    </div>
</header>