<div class="menu-wrapper" id="menu">

    <div class="menu">

        <button class="btn btn--close">
            <img src="./img/svg/cross.svg" alt="close button" onclick="toggleMenu()">
        </button>

        <div class="page-width">
            <div class="menu__container">

                <nav class="nav nav--menu">
                    <ul class="nav__list">
                        <li><a href="#">GSK rent</a></li>
                        <li><a href="#">GSK Retreats</a></li>
                        <li><a href="#">Healths packages</a></li>
                        <li><a href="#">Vitalica clinic</a></li>
                    </ul>
                    <ul class="nav__list">
                        <li><a href="#">Wellness experts</a></li>
                        <li><a href="#">Area sightseeing</a></li>
                        <li><a href="#">Travel insuranse</a></li>
                        <li><a href="#">Healing partners</a></li>
                    </ul>
                
                    <ul class="nav__list">
                        <li><a href="#">Destinations</a></li>
                        <li><a href="#">Blog</a></li>
                    </ul>
                    <ul class="nav__list">
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </nav>

                <div class="contact">
                    
                    <a href="#" class="logo">
                        <img src="./img/svg/logo.png" alt="logo" />
                    </a>

                    <div class="contact__address">
                        <span class="location">Çağlayan, 2052. Sk. No:43, <br>
                            07200 Muratpaşa/Antalya, Турция
                        </span>
                        <a class="email" href="mailto:halloretreat@gmail.com">halloretreat@gmail.com</a>
                    </div>

                    <div class="contact__address">
                        <span class="location">Çağlayan, 2052. Sk. No:43, <br>
                            07200 Muratpaşa/Antalya, Турция
                        </span>
                        <a class="email" href="mailto:halloretreat@gmail.com">halloretreat@gmail.com</a>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <img class="background" src="./img/menu_back.webp" alt="menu background">

</div>
