<div class="modal" id="modal">

    <div class="overlay"></div>
    
        <div class="wrapper wrapper--callback active" id="callback-form">

            <button class="btn btn--close">
                <img src="./img/svg/cross_white.svg" alt="close button" onclick="toggleModal()">
            </button>

            <h3 class="form-title h3">Заказать звонок</h3>
            
            <form class="form form--callback" action="" onsubmit="handleFormSubmit()">

                <input type="text" class="form__textfield" name="name" placeholder="Имя" required/>
                <input type="text" class="form__textfield" name="email" placeholder="E-mail" required />
                <input type="text" class="form__textfield" name="phone" placeholder="Телефон" required />

                <div class="select">
                    <select name="lang" required>
                        <option value="first">Русский</option>
                        <option value="second">Английский</option>
                    </select>
                </div>
                
                <button class="btn btn--main">Заказать</button>

                <div class="form__checkbox">
                    <input type="checkbox" class="checkbox" id="subscribe" required checked>
                    <span class="checkmark"></span>
                    <label for="personal" class="label">
                        Я согласен получать другие сообщения от AskGskGo HUB.
                    </label>
                </div>

            </form>

        </div>

        <div class="wrapper wrapper--finish" id="finish-form">

            <button class="btn btn--close">
                <img src="./img/svg/cross_white.svg" alt="close button" onclick="toggleModal()">
            </button>

            <h1 class="form-title h1">Спасибо</h1>

            <p>Ваша заявка принята.</p> 
            <p>Мы свяжемся с Вами в ближайшее время!</p>
            
        </div>
</div>