<div class="slider">

    <div class="slide">
        <img class="slide__img" src="./img/slider_1.jpg" alt="slider image">
        <div class="slide__capture">
            <p>Мы – увлеченная команда профессионалов в области оздоровления
                и красоты. Эксперты AskGskGo рекомендуют только те программы оздоровления, которые попробовали и проверили сами, подбирая индивидуальный подход для достижения именно ваших целей<br>
                и не забывая о соотношении цены и качества.
            </p>
        </div>
    </div>

    <div class="slide">
        <img class="slide__img" src="./img/slider_1.jpg" alt="slider image">
        <div class="slide__capture">
            <p>Мы – увлеченная команда профессионалов в области оздоровления
                и красоты. Эксперты AskGskGo рекомендуют только те программы оздоровления, которые попробовали и проверили сами, подбирая индивидуальный подход для достижения именно ваших целей<br>
                и не забывая о соотношении цены и качества.
            </p>
        </div>
    </div>

    <div class="slide">
        <img class="slide__img" src="./img/slider_1.jpg" alt="slider image">
        <div class="slide__capture">
            <p>Мы – увлеченная команда профессионалов в области оздоровления
                и красоты. Эксперты AskGskGo рекомендуют только те программы оздоровления, которые попробовали и проверили сами, подбирая индивидуальный подход для достижения именно ваших целей <br>
                и не забывая о соотношении цены и качества.
            </p>
        </div>
    </div>

    <div class="slide">
        <img class="slide__img" src="./img/slider_1.jpg" alt="slider image">
        <div class="slide__capture">
            <p>Мы – увлеченная команда профессионалов в области оздоровления
                и красоты. Эксперты AskGskGo рекомендуют только те программы оздоровления, которые попробовали и проверили сами, подбирая индивидуальный подход для достижения именно ваших целей <br>
                и не забывая о соотношении цены и качества.
            </p>
        </div>
    </div>

</div>