<div class="tiles">
    <div class="tile">
        <img class="tile__img" src="./img/pic1.webp" alt="promo pic">
        <span class="tile__capture">GSK аренда</span>
    </div>
    <div class="tile">
        <img class="tile__img" src="./img/pic2.webp" alt="promo pic">
        <span class="tile__capture">GSK фитнес туры</span>
    </div>
    <div class="tile">
        <img class="tile__img" src="./img/pic3.webp" alt="promo pic">
        <span class="tile__capture">Программы оздоровления</span>
    </div>
    <div class="tile">
        <img class="tile__img" src="./img/pic4.webp" alt="promo pic">
        <span class="tile__capture">Клиника Vitalica</span>
    </div>
</div>