<div class="two-column">

    <div class="two-column__left">
        <p>В партнерстве с Vitalica Wellness (СПА комплекс с программами оздоровления и детокса
с медицинским сопровождением на территории отеля 5*) мы предлагаем Вам качественный отдых с пользой для здоровья на берегу моря
в окружении прекрасной и богатой природы Бодрума. Проживание предусмотрено
в резиденциях, также мы можем забронировать любой номер из представленных в отеле
по Вашему пожеланию.
        </p>

        <button class="btn btn--main">Подробнее</button>
    </div>

    <div class="two-column__right">
        <img src="./img/video.jpg" alt="video">
    </div>

</div>