/*------------------*
# Base
*------------------*/

html {
    box-sizing: border-box;
    font-family: $base-font-family;
    font-size: 62.5%;                   // Такое значение font-size используется для удобства конвертации px в rem (62.5% от размера шрифта браузера 16px = 10px),
                                        // подробнее об этом методе можно узнать из статьи https://www.aleksandrhovhannisyan.com/blog/62-5-percent-font-size-trick/
    // @include tablet {
    //     font-size: 58.5%;
    // }

    // @include mobile {
    //     font-size: 54.5%;
    // } 
}

* {
    &,
    &:before,
    &:after {
        box-sizing: inherit;
    }
}

body {
    min-height: 100vh;
    position: relative;
    width: 100%;
    max-width: 144rem;
    margin: 0 auto;
    font-size: 1.6rem;
    line-height: 2.4rem;
}

.page-width {
    margin-left: auto;
    margin-right: auto;
    max-width: 144rem;
    width: 100%;
    padding-left: 13rem;
    padding-right: 13rem;
}

button, .btn {
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s ease-in-out;

    &--main {
        background-color: $color-blue;
        color: $color-white;
        font-size: 1.6rem;
        line-height: 150%;
        padding: 1rem 2rem;
        border-radius: 5px;
    }
}