.header {
    position: fixed;
    top: 0;
    z-index: 7;
    width: 100%;
    max-width: 144rem;

    &__container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        padding-left: 2.4rem;
        background-color: $color-white;
    }

    .burger {
        justify-self: flex-start;
    }

    .logo {
        justify-self: center;
        width: 18.6rem;
        height: 3.6rem;
        outline: none;
        margin-right: 2rem;

        img {
            width: 100%;
            object-fit: contain;
        }
    }

    &__contact {
        justify-self: end;
        display: flex;
        white-space: nowrap; 
        align-items: center;
    }

    .tel {
        font-weight: 600;
        font-size: 2rem;
        line-height: 120%;
        color: $color-main;
        margin-right: 2rem;
    }

    .lang {
        background-color: $color-main;
        margin-left: 4rem;
        padding: 1.5rem;
        display: flex;
        font-weight: 500;

        span {
            display: flex;
            color: $color-white;
            cursor: pointer;
            transition: all .3s ease-in-out;

            &::after {
                content: '|';
                display: block;
                margin: 0 1.5rem;
                color: $color-white;
                font-weight: 400;
                width: 1px;
                font-size: 1.8rem;
            }

            &:last-child {
                &::after {
                    display: none;
                }
            }

            &.active {
                color: $color-blue;
            }

            &:hover {
                color: $color-second;
            }
        }
    }
}