.header {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    padding-left: 2.4rem;

    .burger {
        justify-self: flex-start;
    }

    .logo {
        justify-self: center;
        width: 18.6rem;
        height: 3.6rem;
        outline: none;
    }

    &__contact {
        justify-self: end;
        display: flex;
        white-space: nowrap; 
        align-items: center;
    }

    .tel {
        font-weight: 600;
        font-size: 2rem;
        line-height: 120%;
        color: $color-main;
        margin-right: 1rem;
    }

    .lang {
        background-color: $color-main;
        margin-left: 4rem;
        padding: 1.5rem;
        display: flex;
        font-weight: 500;

        span {
            display: flex;
            color: $color-white;
            cursor: pointer;
            transition: all .3s ease-in-out;

            &::after {
                content: '|';
                display: block;
                margin: 0 1.5rem;
                color: $color-white;
            }

            &:last-child {
                &::after {
                    display: none;
                }
            }

            &.active {
                color: $color-blue;
            }

            &:hover {
                color: $color-second;
            }
        }
    }
}