.header {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    // padding: .5rem 0;
    padding-left: 2.4rem;

    .burger {
        justify-self: flex-start;
    }

    .btn {
        &--burger {
            width: 5rem;
            height: 4.4rem;
        }
    }

    .logo {
        justify-self: center;
        width: 18.6rem;
        height: 3.6rem;
    }

    &__contact {
        justify-self: end;
        display: flex;
        white-space: nowrap; 
        align-items: center;
    }

    .tel {
        font-weight: 600;
        font-size: 2rem;
        line-height: 120%;
        color: $color-main;
        margin-right: 1rem;
    }

    .lang {
        background-color: $color-main;
        margin-left: 4rem;
        padding: 1.7rem 1.5rem;
    }
}