/*------------------*
# Main Content
*------------------*/

.main-content {
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;

    .h2 {
        margin-bottom: 2rem;
    }
}
