.menu-wrapper {
    display: none;
    position: absolute;
    width: 100%;
    height: 100vh;
    top: -100%;
    left: 0;
    z-index: 10;
    justify-content: space-between;
    transition: all .5s ease-in-out;

    &.active {
        top: 0;
        display: flex;
    }

    .menu {
        background-color: $color-white;
        width: 50%;
        height: 100%;
        padding: 5.5rem 0;

        &__container {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
        }

        .nav__list {
            display: block;

            li {
                margin-bottom: 2rem;
                color: $color-main;
                font-size: 2.5rem;
                line-height: 1;
                margin-right: 0;
                
                a {
                    font-family: $subtitle-font-family;
                    transition: all .4s ease-in-out;

                    &:hover {
                        color: $color-second;
                    }
                }
            }
        }

        .contact {
            flex-direction: column;

            .logo {
                width: 21.4rem;
                height: 4.1rem;
                margin-bottom: 3.3rem;

                img {
                    width: 100%;
                    object-fit: contain;
                }
            }

            &__address {
                color: $color-black;
                font-size: 1.6rem;
                line-height: 1.8rem;
                margin-bottom: 3rem;
                padding-left: 2.5rem;

                .location::before {
                    background-image: url('../img/svg/location_black.svg');  
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }

            .email {
                color: $color-black;
                transition: all .4s ease-in-out;
                margin: 0;

                &:hover {
                    color: $color-grey;
                }
            }
        }
    }
    
    .background {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

