/*------------------*
# Nav
*------------------*/

.nav {
    padding: .9rem;

    &--header {
        background: $color-blue;
    }

    &--menu {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 5rem 12rem;
        padding: 0;
        white-space: nowrap;
    }

    &--footer {
        margin-top: 3rem;
    }

    &__list {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: wrap;

        li {
            margin-right: 4rem;
            white-space: nowrap;
            
            &:last-child {
                margin-right: 0;
            }
        }
    }

    li a {
        color: $color-main;
        text-decoration: none;
        font-weight: 500;
        transition: all .4s ease-in-out;

        &:hover {
            text-decoration: none;
            color: $color-white;
        }
    }
}
