/*------------------*
# Nav
*------------------*/

.nav {
    background: #94C2BD;
    padding: .9rem;

    &__list {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;

        li {
            margin-right: 4rem;

            &:last-child {
                margin-right: 0;
            }
        }
    }

    li a {
        color: $color-main;
        text-decoration: none;
        font-weight: 500;

        &:hover {
            text-decoration: none;
        }
    }
}
