.two-column {
    margin-top: 7rem;
    margin-bottom: 6rem;
    display: flex;
    gap: 7rem;
    justify-content: space-between;

    &__left {
        margin-left: 5rem;
        // flex-basis: 32.5%;
        width: 38rem;
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__right {
        // flex-basis: 58.2%;
        width: 68rem;
        height: 37rem;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            border-radius: 5px;
        }
    }
}